body{
    background-image: url(gambar/beranda.jpg);
    width: 100vh;
    height: 100vh;
    margin: 0.1vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.tophead>ul{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: right;
    text-decoration: none;
}

.tophead>ul>li{
    list-style-type: none;
}

.tophead>ul>li>a{
    text-decoration: none;
    color: azure;
}

.secondhead{
    color: white;
    padding-top: 1%;
    font-size: 2.8em;
   text-align: center;
}

.secondhead>h1{
    cursor: default;
}

